* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding: 2vh 8vw 0 8vw;
	gap: 1vw;
	display: flex;
	flex-direction: column;

	background: #131313;
	color: #ccc;

	font-family: monospace;
	font-size: 13pt;
}

p {
	white-space: pre-line;
}

#hide-notes {
	display: none;
}

#notes {
	font-size: 12pt;
}

#footer {
	width: 100%;
	text-align: center;
	font-size: 11pt;
}

#alphabet input[type='text'] {
	width: 2em;
}

#alphabet {
	display: flex;
	flex-wrap: wrap;
	gap: 1.5vh 1.5vw;
	align-content: flex-start;
}

input[type='text'],
textarea {
	border-radius: 0;
	background: #131313;
	border: 1px solid #777;
}
input.duplicate {
	color: #c70466;
	border: 1px solid #c70466;
}
input[type='text']:disabled {
	background: #444;
	border: 1px solid #444;
}

a {
	color: #ed0e96;
	text-decoration: none;
	border-radius: 0.2em;
	padding-left: 0.2em;
	padding-right: 0.2em;

	transition: color ease-out 0.2s, background ease-out 0.2s;
}
a:hover {
	color: #131313;
	background: #ed0e96;
}

button,
button:focus,
button:visited {
	background: #131313;
	color: #16dadd;
	border: 1px solid #16dadd;
	font-size: 12pt;
	padding: 0.2em 1em;
	box-shadow: none;
	outline: none;
}
button:hover {
	background: #16dadd;
	color: #131313;
	border: 1px solid #16dadd;
	font-size: 12pt;
	padding: 0.2em 1em;
}
button:disabled,
button:disabled.warning,
button:disabled.warning:hover,
button:disabled.error,
button:disabled.error:hover {
	background: #131313;
	color: #777;
	border: 1px solid #777;
}

button.warning {
	background: #131313;
	color: #f4b800;
	border: 1px solid #f4b800;
}
button.warning:hover {
	background: #f4b800;
	color: #131313;
}
button.error {
	background: #131313;
	color: #ed0e96;
	border: 1px solid #ed0e96;
}
button.error:hover {
	background: #ed0e96;
	color: #131313;
}

#plain {
	color: #777;
}
#plain span {
	color: #ccc;
}

.red {
	color: #ed0e96 !important;
}
.blue {
	color: #16dadd !important;
}
.yellow {
	color: #f4b800 !important;
}

.hidden {
	display: none;
}

::selection {
	background: #0d8b8e;
	color: #131313;
}

.column {
	width: 50%;
}
#top,
#bottom {
	display: flex;
	gap: 1vw;
}
#top .column {
	border: 1px solid #777;
	padding: 1em;
}

#button-row {
	padding-bottom: 1vw;
}

#bottom {
	flex-grow: 1;
}

form {
	width: 100%;
	height: 100%;
}

textarea {
	height: 100%;
	resize: none;
	padding: 1em;
	/* border: none; */
}

@media only screen and (max-width: 768px) {
	body {
		padding: 2vh 2vw 0 2vw;
		font-size: 11pt;
	}

	button {
		font-size: 11pt;
		padding: 0 0.4em;
	}

	#top,
	#bottom {
		display: inline;
	}

	#cipher {
		display: none;
	}

	#plain {
		width: 100%;
	}

	#top div,
	#top textarea {
		width: 100%;
		margin: 0;
		padding: 1vw;
	}

	#hide-notes {
		display: inline;
	}

	#notes {
		font-size: inherit;
		min-height: 30em;
	}

	#alphabet {
		margin: 3vh 3vw;
	}

	form {
		width: 100%;
	}
}
